{:paths ["src" "resources"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.3"}
         stasis/stasis             {:mvn/version "2.5.1"}
         markdown-clj/markdown-clj {:mvn/version "1.10.6"}
         optimus/optimus           {:mvn/version "1.0.0-rc3"}
         com.bhauman/figwheel-main {:mvn/version "0.2.14"}
         hiccup/hiccup             {:mvn/version "1.0.5"}
         hawk/hawk                 {:mvn/version "0.2.11"}
         ring/ring                 {:mvn/version "1.9.4"}}
 :aliases
 {:hotness {:main-opts ["-m" "osg.dev"]}
  :build   {:main-opts ["-m" "osg.build"]}
  :server  {:extra-deps {mtkp/ring-dev {:git/url "https://github.com/mtkp/ring-dev"
                                        :sha     "330d8318790939a4b7d8cab01712415e63c62618"}}
            :main-opts  ["-m" "mtkp.ring-dev.main" "osg.dev/serve!"]}
  :test    {:extra-paths ["test"]
            :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                          io.github.cognitect-labs/test-runner
                          {:git/url "https://github.com/cognitect-labs/test-runner"
                           :sha     "62ef1de18e076903374306060ac0e8a752e57c86"}}
            :exec-fn     cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.267"}}
            :exec-fn      hf.depstar/uberjar
            :exec-args    {:aot        true
                           :jar        "site.jar"
                           :main-class "osg.site"
                           :sync-pom   true}}}}
